body {
    font-family: sans-serif;
  }
  button{
  all: unset;
  border: 1px #8a2be2 solid;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor:pointer;
  }
  
  .active{
    background-color:#8a2be2;
    border: 1px white solid;
    color:white;
  }